@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@font-face {
  font-family: 'Kaushan Script';
  src: local("../fonts/Kaushan Script"), local("../fonts/KaushanScript-Regular"), url("../fonts/Kaushanscript.woff2") format("woff2"), url("../fonts/Kaushanscript.woff") format("woff"), url("../fonts/Kaushanscript.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent; }

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

a {
  color: inherit;
  cursor: pointer; }

a:hover {
  color: inherit;
  text-decoration: none; }

.h4, .h5, h4, h5 {
  font-size: 15px; }

.main .article-info__title, .main .article-info__description-short, .main .article-info__description-full {
  text-align: center; }

.main .article-info__title {
  font-family: 'Kaushan Script';
  font-size: 24px;
  font-weight: 400;
  color: #333;
  text-transform: capitalize;
  margin-top: 110px; }

.main .article-info__description-short {
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase; }

.main .article-info__description-short:after {
  content: "";
  display: block;
  margin: 40px auto;
  height: 5px;
  width: 65px;
  background-color: #f38181; }

.main .article-info__description-full {
  font-family: 'Roboto';
  font-size: 15px;
  font-width: 400;
  color: #999;
  max-width: 950px;
  margin: 0 auto 85px; }

.container {
  max-width: 1200px;
  margin: auto; }

.nav-min {
  display: none;
  width: 68px;
  height: 68px; }
  .nav-min span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 6px;
    background-color: #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    margin: 13px auto; }
  .nav-min span:nth-child(2) {
    margin: 10px auto; }

.banner {
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background-image: url("../img/slider-bg.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .banner .header {
    padding-top: 30px; }
    .banner .header .logo {
      cursor: pointer;
      font-weight: 700; }
      .banner .header .logo h1 {
        font-size: 30px;
        font-weight: 700; }
    .banner .header .nav {
      display: block;
      font-size: 14px;
      font-weight: 400; }
      .banner .header .nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        margin-right: 10px;
        position: relative; }
        .banner .header .nav ul li {
          margin-left: 50px;
          text-transform: uppercase; }
          .banner .header .nav ul li a {
            padding-bottom: 5px; }
          .banner .header .nav ul li a:visited {
            color: inherit; }
          .banner .header .nav ul li a:hover, .banner .header .nav ul li a:active {
            color: #fce38a;
            text-decoration: none;
            border-bottom: 2px solid #fce38a; }
      .banner .header .nav__cart a:hover svg, .banner .header .nav__cart a:active svg, .banner .header .nav__cart button:hover svg, .banner .header .nav__search a:hover svg, .banner .header .nav__search a:active svg, .banner .header .nav__search button:hover svg {
        fill: #fce38a; }
      .banner .header .nav__cart svg, .banner .header .nav__search svg {
        fill: #fff;
        width: 18px;
        height: 15px; }
      .banner .header .nav__search #nav__search__input,
      .banner .header .nav__search #nav__search__submit {
        width: 0;
        height: 31px;
        border: 0;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
        position: absolute;
        bottom: -40px;
        right: 0;
        z-index: 16;
        padding: 0; }
      .banner .header .nav__search button {
        background: inherit;
        border: 0;
        outline: none; }
      .banner .header .nav__search button:focus {
        border: 0; }
      .banner .header .nav__search svg {
        height: 18px; }
      .banner .header .nav__search.active #nav__search__input {
        width: 200px;
        padding: 5px;
        right: 70px; }
      .banner .header .nav__search.active #nav__search__submit {
        width: 70px;
        padding: 5px; }
  .banner .slider {
    text-transform: uppercase;
    text-align: center; }
    .banner .slider .carousel-indicators {
      z-index: 3; }
      .banner .slider .carousel-indicators li {
        width: 200px;
        text-indent: 0;
        margin: 30px 10px;
        z-index: 3; }
      .banner .slider .carousel-indicators li.active {
        background-color: #f38181; }
    .banner .slider__header {
      font-family: 'Kaushan Script';
      font-size: 72px;
      font-weight: 400;
      color: #fff;
      text-transform: capitalize;
      display: block;
      margin: auto;
      margin-top: 150px; }
    .banner .slider__text {
      font-family: 'Montserrat';
      font-size: 150px;
      font-weight: 700;
      line-height: 140px;
      color: #fff;
      display: block;
      margin: 60px auto 0;
      max-width: 800px; }
    .banner .slider__text:after {
      content: "";
      display: block;
      margin: 50px auto;
      background-color: #fff;
      width: 65px;
      height: 5px; }
    .banner .slider__learn-more {
      padding: 15px 30px;
      border: 2px solid #fff;
      font-family: 'Montserrat';
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 220px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
    .banner .slider__learn-more:hover, .banner .slider__learn-more:active {
      text-decoration: none;
      color: inherit;
      padding: 15px 45px; }

.close--nav {
  display: none; }
  .close--nav span, .close--nav span:after {
    display: block;
    width: 3px;
    height: 30px;
    background-color: #fff;
    margin: auto;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    position: relative; }
  .close--nav span:after {
    content: "";
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }

.search-mobile {
  display: none; }

.service .accordion {
  height: 400px; }
  .service .accordion__img {
    min-width: 500px; }
    .service .accordion__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .service .accordion__items {
    margin-left: 20px;
    width: 100%; }
  .service .accordion-item__title {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
    padding: 20px;
    border: 1px solid #e5e5e5; }
    .service .accordion-item__title p {
      display: inline-block;
      margin: 0;
      margin-left: 10px; }
  .service .accordion-item__text {
    padding-left: 10px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5; }
    .service .accordion-item__text textarea {
      width: 100%;
      border: 0;
      resize: none;
      padding-right: 5px;
      font-family: 'Roboto';
      font-size: 15px;
      line-height: 24px;
      font-weight: 300;
      color: #999;
      font-style: italic; }
    .service .accordion-item__text textarea::-webkit-scrollbar {
      width: 4px;
      background-color: #f5f5f5; }
    .service .accordion-item__text textarea::-webkit-scrollbar-thumb {
      background-color: #95e1d3;
      -webkit-border-radius: 10px;
              border-radius: 10px; }
  .service .accordion-item__text:last-child {
    border-bottom: 1px solid #e5e5e5; }
  .service .accordion-item__title:before {
    content: "";
    display: inline-block;
    background-image: url(../img/icons.png);
    background-position: 0 -14px;
    width: 37px;
    height: 32px; }
  .service .accordion-item #headingTwo:before {
    background-position: 0 -46px; }
  .service .accordion-item #headingThree:before {
    background-position: 0 -82px; }

.accordion-item__title.collapsed .arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  margin-left: auto;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.accordion-item__title .arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  margin-left: auto;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.team__items {
  height: 100%; }

.team-item {
  height: 100%; }
  .team-item__name, .team-item__assignment {
    text-transform: uppercase;
    text-align: center; }
  .team-item__name {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-top: 30px; }
  .team-item__assignment {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    color: #999;
    font-style: italic;
    display: block; }
  .team-item__img {
    background-color: #95e1d3;
    position: relative;
    width: 350px;
    height: 500px;
    margin: auto; }
    .team-item__img:before {
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      display: block;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(#fce38a), to(#f38181));
      background: -webkit-linear-gradient(top, #fce38a 0%, #f38181 100%);
      background: -o-linear-gradient(top, #fce38a 0%, #f38181 100%);
      background: linear-gradient(to bottom, #fce38a 0%, #f38181 100%);
      z-index: 3;
      opacity: 0;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
    .team-item__img img {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center center;
         object-position: center center;
      z-index: 2;
      -webkit-transition: all .5s;
      -o-transition: all .5s;
      transition: all .5s; }
  .team-item__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: -11px;
    left: -11px;
    opacity: 0;
    -webkit-transition: opacity 0.7s ease-in;
    -o-transition: opacity 0.7s ease-in;
    transition: opacity 0.7s ease-in;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center; }
    .team-item__social__facebook, .team-item__social__twiter, .team-item__social__pinterest, .team-item__social__instagram {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 5px;
      width: 55px;
      height: 55px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .team-item__social__facebook, .team-item__social__twiter, .team-item__social__pinterest {
      margin: 0 1px;
      -webkit-transition: all .4s;
      -o-transition: all .4s;
      transition: all .4s; }
  .team-item__img:hover .team-item__social {
    opacity: 1;
    z-index: 4; }
    .team-item__img:hover .team-item__social__facebook, .team-item__img:hover .team-item__social__twiter, .team-item__img:hover .team-item__social__pinterest, .team-item__img:hover .team-item__social__instagram {
      background-color: #fce38a; }
      .team-item__img:hover .team-item__social__facebook svg, .team-item__img:hover .team-item__social__twiter svg, .team-item__img:hover .team-item__social__pinterest svg, .team-item__img:hover .team-item__social__instagram svg {
        fill: #f38181; }
    .team-item__img:hover .team-item__social__facebook:hover, .team-item__img:hover .team-item__social__twiter:hover, .team-item__img:hover .team-item__social__pinterest:hover, .team-item__img:hover .team-item__social__instagram:hover {
      background-color: #f38181; }
      .team-item__img:hover .team-item__social__facebook:hover svg, .team-item__img:hover .team-item__social__twiter:hover svg, .team-item__img:hover .team-item__social__pinterest:hover svg, .team-item__img:hover .team-item__social__instagram:hover svg {
        fill: white; }
  .team-item__img:hover img {
    top: -11px;
    left: -11px; }
  .team-item__img:hover:before {
    top: -11px;
    left: -11px;
    opacity: 0.8; }

.blog__items {
  text-align: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blog-item {
  width: 350px; }
  .blog-item__img {
    width: 100%;
    height: 240px;
    position: relative; }
    .blog-item__img .date-info {
      position: relative;
      width: 60px;
      height: 70px;
      background-color: #95e1d3;
      bottom: 80px;
      left: -10px;
      padding: 5px 0; }
      .blog-item__img .date-info__date {
        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: 700;
        color: #fff;
        margin: 0; }
      .blog-item__img .date-info__month {
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        font-style: italic; }
    .blog-item__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
      -o-object-position: center center;
         object-position: center center;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
  .blog-item__about__title {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: left;
    margin-top: 20px; }
  .blog-item__about__text {
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    text-align: left; }
  .blog-item__about__text:after {
    content: "";
    background-color: #e5e5e5;
    height: 1px;
    display: block;
    margin: 25px 0; }
  .blog-item__about__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    font-style: italic; }
    .blog-item__about__info h4, .blog-item__about__info h5 {
      font-family: 'Roboto';
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      color: #999; }
    .blog-item__about__info .views:before, .blog-item__about__info .comments:before {
      content: "";
      display: inline-block;
      margin: 0 3px 0 10px;
      background-image: url(../img/icons.png);
      width: 20px;
      height: 14px; }
    .blog-item__about__info .comments:before {
      background-position: -20px 0;
      width: 17px;
      height: 14px; }

.blog-item:hover img {
  opacity: 0.9;
  padding: 2px; }

.footer {
  padding-top: 50px; }
  .footer__col-heading {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #333;
    text-transform: uppercase; }
  .footer .blogs__img-holder img {
    width: 100%;
    height: auto;
    padding-right: 10px;
    padding-top: 5px; }
  .footer__col-heading {
    padding-top: 25px; }
  .footer .insta-photo img {
    padding: 2px;
    width: 100%;
    height: auto; }
  .footer h1 {
    font-family: 'Montserrat';
    font-size: 46px;
    font-weight: 700;
    color: #cccccc; }
  .footer h4 {
    font-family: 'Roboto';
    font-size: 15px;
    color: #999999;
    line-height: 24px; }
  .footer h5 {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #333333; }
    .footer h5 span {
      font-size: 18px;
      font-weight: 700; }
  .footer h6 {
    text-transform: capitalize; }
  .footer h6, .footer input {
    font-family: 'Roboto';
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    outline: none; }
  .footer .follow-us svg {
    fill: #95e1d3;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
  .footer .follow-us svg:hover {
    fill: #f38181; }
  .footer .subscribe__email {
    padding-left: 5px;
    border: 1px solid #999; }
  .footer .subscribe__button {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    font-style: normal;
    background-color: #95e1d3;
    outline-style: none;
    border: none;
    padding: 15px 44px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; }
  .footer .subscribe__button:hover {
    padding: 15px 55px; }
  .footer .copyrights {
    padding-top: 15px;
    margin: 15px 15px 0;
    border-top: 1px solid #e5e5e5; }
    .footer .copyrights a {
      color: #f38181; }
    .footer .copyrights h4 {
      font-family: 'Montserrat';
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      text-align: center; }

@media screen and (max-width: 1200px) {
  .team-item__img {
    width: 300px;
    height: 400px; } }

@media screen and (max-width: 992px) {
  .banner .header .nav ul li {
    margin-left: 20px; }
  .team-item__img {
    width: 250px;
    height: 280px; }
  .accordion__img {
    min-width: 300px; }
  .banner .slider__header {
    font-size: 50px; }
  .banner .slider__text {
    font-size: 100px;
    line-height: 100px; }
  .service .accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    max-width: 600px;
    min-width: 250px;
    margin: auto; }
    .service .accordion__items {
      margin-left: 0;
      margin-top: 10px; }
    .service .accordion__img {
      width: 100%;
      min-width: 0; } }

@media screen and (max-width: 768px) {
  .team__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .team-item__img {
    width: 100%;
    height: 250px; }
  .banner .header .nav ul li {
    margin-left: 15px; }
  .blog__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .blog-item {
    width: 100%; }
    .blog-item__about__summary {
      margin-bottom: 30px; }
  .banner .slider .carousel-indicators {
    font-size: 20px; } }

@media screen and (max-width: 576px) {
  .banner .slider__header {
    font-size: 30px; }
  .banner .slider__text {
    font-size: 40px;
    line-height: 40px; }
  .banner .header .nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000;
    opacity: 0.9;
    z-index: 16; }
    .banner .header .nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      z-index: 16;
      margin-right: 0;
      margin-top: 20px;
      height: 100vh; }
      .banner .header .nav ul li {
        margin: 5px;
        font-size: 30px; }
        .banner .header .nav ul li a {
          display: block; }
        .banner .header .nav ul li a:hover, .banner .header .nav ul li a:active {
          color: inherit;
          border: none; }
          .banner .header .nav ul li a:hover svg, .banner .header .nav ul li a:active svg {
            fill: #fff; }
    .banner .header .nav .close--nav {
      display: block; }
    .banner .header .nav .nav__search {
      display: none; }
    .banner .header .nav .search-mobile {
      display: block;
      margin: 30px; }
      .banner .header .nav .search-mobile input {
        padding: 10px; }
  .header {
    position: absolute;
    padding-bottom: 30px;
    background-color: #999;
    z-index: 15;
    margin-right: 20px; }
  .nav-min {
    display: block;
    background-color: #000;
    z-index: 16;
    opacity: 0.3; } }
