@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700");
@font-face {
  font-family: 'Kaushan Script';
  src: local("../fonts/Kaushan Script"), local("../fonts/KaushanScript-Regular"), url("../fonts/Kaushanscript.woff2") format("woff2"), url("../fonts/Kaushanscript.woff") format("woff"), url("../fonts/Kaushanscript.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent; }

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden; }

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none; }

a {
  color: inherit;
  cursor: pointer; }

.main .block__name, .main .block__description-short, .main .block__description-full {
  text-align: center; }

.main .block__name {
  font-family: "Kaushan Script";
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  color: #333333;
  text-transform: capitalize;
  margin-top: 110px; }

.main .block__description-short {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #333333;
  text-transform: uppercase; }

.main .block__description-short:after {
  content: "";
  display: block;
  margin: 40px auto;
  height: 5px;
  width: 65px;
  background-color: #f38181; }

.main .block__description-full {
  font-family: "Roboto";
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: #999999;
  max-width: 950px;
  margin: 0 auto 85px; }

.container {
  max-width: 1200px;
  margin: auto; }

h1 {
  font-weight: 700; }

.nav-min {
  display: none;
  width: 68px;
  height: 68px; }
  .nav-min span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 40px;
    height: 6px;
    background-color: #fff;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    margin: 13px auto; }
  .nav-min span:nth-child(2) {
    margin: 10px auto; }

.banner {
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-image: url("../img/slider-bg.jpg"); }
  .banner .header {
    padding-top: 30px; }
    .banner .header .logo {
      cursor: pointer; }
    .banner .header .nav {
      display: block;
      font-size: 14px;
      font-weight: 400; }
      .banner .header .nav ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        margin-right: 10px; }
        .banner .header .nav ul li {
          margin-left: 10px;
          text-transform: uppercase; }
          .banner .header .nav ul li a {
            padding-bottom: 5px; }
          .banner .header .nav ul li a:visited {
            color: inherit; }
          .banner .header .nav ul li a:hover, .banner .header .nav ul li a:active {
            color: #fce38a;
            text-decoration: none;
            border-bottom: 2px solid #fce38a; }
      .banner .header .nav__cart a:hover, .banner .header .nav__cart a:active, .banner .header .nav__search a:hover, .banner .header .nav__search a:active {
        border-bottom: 0px !important; }
      .banner .header .nav__cart svg, .banner .header .nav__search svg {
        fill: #fff;
        width: 18px;
        height: 15px; }
      .banner .header .nav__search svg {
        height: 18px; }
  .banner__slider {
    text-transform: uppercase;
    text-align: center; }
    .banner__slider .carousel-indicators li {
      width: 200px; }
    .banner__slider .carousel-indicators li.active {
      background-color: #f38181; }
    .banner__slider__header-text {
      font-family: "Kaushan Script";
      font-size: 72px;
      font-weight: 400;
      line-height: 1;
      color: #fff;
      text-transform: capitalize;
      display: block;
      margin: auto;
      margin-top: 150px; }
    .banner__slider__text {
      font-family: "Montserrat";
      font-size: 150px;
      font-weight: 700;
      line-height: 140px;
      color: #fff;
      display: block;
      margin: auto;
      max-width: 800px; }
    .banner__slider__text:after {
      content: "";
      display: block;
      margin: 50px auto;
      background-color: #fff;
      width: 65px;
      height: 5px; }
    .banner__slider__learn-more {
      padding: 15px 30px;
      border: 2px solid #fff;
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      margin-bottom: 150px; }
    .banner__slider__learn-more:hover, .banner__slider__learn-more:active {
      text-decoration: none;
      color: inherit; }

.service__accordion {
  height: 400px; }
  .service__accordion__img {
    min-width: 500px; }
    .service__accordion__img img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .service__accordion__items {
    margin-left: 20px;
    width: 100%; }
    .service__accordion__items__item__main {
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: #333333;
      text-transform: uppercase;
      padding: 20px;
      border: 1px solid #e5e5e5; }
      .service__accordion__items__item__main p {
        display: inline-block;
        margin: 0;
        margin-left: 10px; }
    .service__accordion__items__item__info {
      padding-left: 10px;
      border-left: 1px solid #e5e5e5;
      border-right: 1px solid #e5e5e5; }
      .service__accordion__items__item__info textarea {
        width: 100%;
        border: 0;
        resize: none;
        padding-right: 5px; }
      .service__accordion__items__item__info textarea::-webkit-scrollbar {
        width: 4px;
        background-color: #f5f5f5; }
      .service__accordion__items__item__info textarea::-webkit-scrollbar-thumb {
        background-color: #95e1d3;
        -webkit-border-radius: 10px;
                border-radius: 10px; }
    .service__accordion__items__item__info:last-child {
      border-bottom: 1px solid #e5e5e5; }
    .service__accordion__items__item #headingOne:before {
      content: "";
      display: inline-block;
      background-image: url(../img/icons.png);
      background-position: 0 -14px;
      width: 37px;
      height: 32px; }
    .service__accordion__items__item #headingTwo:before {
      content: "";
      display: inline-block;
      background-image: url(../img/icons.png);
      background-position: 0 -46px;
      width: 37px;
      height: 32px; }
    .service__accordion__items__item #headingThree:before {
      content: "";
      display: inline-block;
      background-image: url(../img/icons.png);
      background-position: 0 -82px;
      width: 37px;
      height: 32px; }

.service__accordion__items__item__main.collapsed .arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  margin-left: auto;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg); }

.service__accordion__items__item__main .arrow {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-top: 2px solid #cccccc;
  border-right: 2px solid #cccccc;
  margin-left: auto;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.team__items {
  height: 100%; }
  .team__items__item {
    height: 100%;
    width: 100%; }
    .team__items__item__name, .team__items__item__assignment {
      text-transform: uppercase;
      text-align: center; }
    .team__items__item__name {
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 700;
      line-height: 1;
      color: #333333;
      margin-top: 30px; }
    .team__items__item__assignment {
      font-family: "Roboto";
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      color: #999999;
      font-style: italic;
      display: block; }
    .team__items__item__img {
      background-color: #95e1d3;
      position: relative;
      width: 350px;
      height: 500px;
      margin: auto; }
      .team__items__item__img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        position: center center; }
  .team__items__item:hover img {
    position: relative;
    top: -11px;
    left: -11px; }

.blog__items {
  text-align: center; }
  .blog__items__item {
    width: 380px;
    padding: 0 10px; }
    .blog__items__item__img {
      width: 100%;
      height: 240px;
      position: relative; }
      .blog__items__item__img .date-info {
        position: relative;
        width: 60px;
        height: 70px;
        background-color: #95e1d3;
        bottom: 80px;
        left: -10px;
        padding: 5px 0; }
        .blog__items__item__img .date-info__date {
          font-family: "Montserrat";
          font-size: 30px;
          font-weight: 700;
          line-height: 1;
          color: #fff;
          margin: 0; }
        .blog__items__item__img .date-info__month {
          font-family: "Roboto";
          font-size: 15px;
          font-weight: 400;
          line-height: 24px;
          color: #fff;
          margin: 0;
          text-transform: uppercase;
          font-style: italic; }
      .blog__items__item__img img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .blog__items__item__about__title {
      font-family: "Montserrat";
      font-size: 14px;
      font-weight: 400;
      line-height: 1;
      color: #333333;
      margin-top: 20px; }
    .blog__items__item__about__text {
      font-family: "Roboto";
      font-size: 15px;
      font-weight: 400;
      line-height: 24px;
      color: #999999; }
    .blog__items__item__about__text:after {
      content: "";
      background-color: #e5e5e5;
      height: 1px;
      display: block;
      margin: 25px 0; }
    .blog__items__item__about__summary {
      font-family: "Roboto";
      font-size: 15px;
      font-weight: 300;
      line-height: 24px;
      color: #999999;
      text-align: left;
      font-style: italic; }
      .blog__items__item__about__summary .views:before {
        content: "";
        display: inline-block;
        margin: 0 3px 0 10px;
        background-image: url(../img/icons.png);
        width: 20px;
        height: 14px; }
      .blog__items__item__about__summary .comments:before {
        content: "";
        display: inline-block;
        margin: 0 3px 0 10px;
        background-image: url(../img/icons.png);
        background-position: -20px 0;
        width: 17px;
        height: 14px; }

@media screen and (max-width: 1200px) {
  .team__items__item__img {
    width: 300px;
    height: 400px; } }

@media screen and (max-width: 992px) {
  .team__items__item__img {
    width: 200px;
    height: 280px; }
  .service__accordion__img {
    min-width: 300px; }
  .banner__slider__header-text {
    font-family: "Kaushan Script";
    font-size: 50px;
    font-weight: 400;
    line-height: 10px;
    color: #fff; }
  .banner__slider__text {
    font-family: "Montserrat";
    font-size: 100px;
    font-weight: 700;
    line-height: 140px;
    color: #fff; } }

@media screen and (max-width: 768px) {
  .team__items__item__img {
    width: 170px;
    height: 200px; } }

@media screen and (max-width: 576px) {
  .banner__slider__header-text {
    font-family: "Kaushan Script";
    font-size: 20px;
    font-weight: 400;
    line-height: 10px;
    color: #fff; }
  .banner__slider__text {
    font-family: "Montserrat";
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    color: #fff; }
  .banner .header .nav {
    display: none;
    position: absolute;
    top: 95px;
    right: 34px;
    text-align: right;
    background-color: #000;
    z-index: 10;
    opacity: 0.7; }
    .banner .header .nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column; }
      .banner .header .nav ul li {
        margin: 5px;
        font-size: 10px; }
  .nav-min {
    display: block;
    position: absolute;
    right: 20px;
    background-color: #000;
    z-index: 10;
    opacity: 0.3; }
  .service__accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%; }
    .service__accordion__items {
      margin-left: 0;
      margin-top: 10px; }
  .team__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .blog__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    .blog__items__item {
      width: 100%; }
      .blog__items__item__about__summary {
        margin-bottom: 30px; } }
