.blog {
  &__items {
    text-align: center;
    justify-content: space-between;
  }

  &-item {
    width: 350px;

    &__img {
      width: 100%;
      height: 240px;
      position: relative;

      .date-info {
        position: relative;
        width: 60px;
        height: 70px;
        background-color: #95e1d3;
        bottom: 80px;
        left: -10px;
        padding: 5px 0;

        &__date {
          font-family: 'Montserrat';
          font-size: 30px;
          font-weight: 700;
          color: #fff;
          margin: 0;
        }

        &__month {
          font-family: 'Roboto';
          font-size: 15px;
          font-weight: 400;
          color: #fff;
          margin: 0;
          text-transform: uppercase;
          font-style: italic;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        transition: transform .2s;
      }
    }

    &__about {
      &__title {
        font-family: 'Montserrat';
        font-size: 14px;
        font-weight: 400;
        color: #333;
        text-align: left;
        margin-top: 20px;
      }

      &__text {
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        color: #999;
        text-align: left;
      }

      &__text:after {
        content: "";
        background-color: rgb(229, 229, 229);
        height: 1px;
        display: block;
        margin: 25px 0;
      }

      &__info {
        display: flex;
        text-align: left;
        font-style: italic;

        h4, h5 {
          font-family: 'Roboto';
          font-size: 15px;
          font-weight: 300;
          line-height: 24px;
          color: #999;
        }

        .views:before, .comments:before {
          content: "";
          display: inline-block;
          margin: 0 3px 0 10px;
          background-image: url(../img/icons.png);
          width: 20px;
          height: 14px;
        }

        .comments:before {
          background-position: -20px 0;
          width: 17px;
          height: 14px;
        }
      }
    }
  }
  &-item:hover {
    overflow: hidden;
    img {
      opacity: 0.9;
      transform: scaleX(1.1);
      transition: all 0s;
    }
  }
}