.footer {
  font-family: 'Montserrat';
  padding-top: 50px;

  h1 {
    font-size: 46px;
    font-weight: 700;
    color: #cccccc;
  }

  h4 {
    font-family: 'Roboto';
    font-size: 15px;
    color: #999999;
    line-height: 24px;
  }

  h5 {
    font-size: 14px;
    color: #333333;

    span {
      font-size: 18px;
      font-weight: 700;
    }
  }

  h6 {
    text-transform: capitalize;
  }

  h6, input {
    font-family: "Roboto";
    font-size: 15px;
    line-height: 24px;
    color: #999999;
    font-weight: 300;
    font-style: italic;
    outline: none;
  }

  &__col-heading {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
    padding-top: 25px;
    margin-bottom: 40px;
  }

  .f-blog-item {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    h5 {
      font-family: 'Roboto';
      font-size: 13px;
      line-height: 24px;
      color: #999999;
      font-style: italic;
    }
    .f-blog__img-holder {
      img {
        width: 100%;
        height: auto;
        padding-right: 10px;
        padding-top: 5px;
        margin-bottom: 30px;
      }
    }
  }


  .insta-photo {
    img {
      padding: 2px;
      width: 100%;
      height: auto;
    }

    &__holder {
    }
  }


  .follow-us {
    a {
      padding: 5px 0;
    }

    svg {
      fill: #95e1d3;
      transition: all .2s;
      margin: 0 9px;
    }
  }

  .follow-us a:hover {
    svg {
      fill: #f38181;
    }
  }

  .subscribe__button, .subscribe__email {
    height: 40px;
  }

  .subscribe__email {
    padding-left: 5px;
    border: 1px solid #E7E7E7;
    border-right: transparent;
    width: 300px;
  }

  .subscribe__button {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    font-style: normal;
    background-color: #95e1d3;
    outline-style: none;
    border: none;
    padding: 0 44px;
    transition: all .5s;
    font-family: 'Montserrat';
    font-weight: 700;
  }

  .subscribe__button:hover {
    color: #e5e5e5;
  }

  .footer__view-more {
    font-face: 'Roboto';
    font-size: 13px;
    font-style: italic;
    color: #999;
    line-height: 24px;
    font-weight: 300;
    transition: all .3s;
  }

  .footer__view-more:hover {
    color: #f38181;
  }

  .copyrights {
    padding-top: 15px;
    margin: 15px 15px 0;
    border-top: 1px solid #e5e5e5;

    a {
      color: #f38181;
      transition: all .2s;
    }
    a:hover {
      color: #95e1d3;
    }

    h4 {
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      text-align: center;
    }
  }

  .underline {
    border-bottom: 1px solid #E5E5E5;
  }

  .footer__blog {
    padding: 0 30px 0;
  }
}
