.main {
  .article-info {
    &__title, &__description-short, &__description-full {
      text-align: center;
    }

    &__title {
      font-family: 'Kaushan Script';
      font-size: 24px;
      font-weight: 400;
      color: #333;
      text-transform: capitalize;
      margin-top: 110px;
    }

    &__description-short {
      font-family: 'Montserrat';
      font-size: 30px;
      font-weight: 700;
      color: #333;
      text-transform: uppercase;
    }

    &__description-short:after {
      content: "";
      display: block;
      margin: 40px auto;
      height: 5px;
      width: 65px;
      background-color: rgb(243, 129, 129);
    }

    &__description-full {
      font-family: 'Roboto';
      font-size: 15px;
      font-width: 400;
      color: #999;
      max-width: 950px;
      margin: 0 auto 85px;
    }
  }
}

.container {
  max-width: 1200px;
  margin: auto;
}


.nav-min {
  display: none;
  width: 68px;
  height: 68px;

  span {
    display: flex;
    width: 40px;
    height: 6px;
    background-color: #fff;
    border-radius: 10px;
    margin: 13px auto;
  }

  span:nth-child(2) {
    margin: 10px auto;
  }
}

.banner {
  font-family: 'Montserrat';
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  background-image: url('../img/slider-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .header {
    padding-top: 30px;

    .logo {
      cursor: pointer;
      font-weight: 700;
      h1 {
        font-size: 30px;
        font-weight: 700;
      }
    }

    .nav {
      display: block;
      font-size: 14px;
      font-weight: 400;

      ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
        margin-right: 10px;
        position: relative;
        li {
          margin-left: 50px;
          text-transform: uppercase;

          a {
            padding-bottom: 5px;
          }

          a:visited {
            color: inherit;
          }

          a:hover, a:active {
            color: #fce38a;
            text-decoration: none;
            border-bottom: 2px solid #fce38a;
          }
        }
      }

      &__cart, &__search {
        a:hover, a:active, button:hover {
          svg {
            fill: #fce38a;
          }
        }

        svg {
          fill: #fff;
          width: 18px;
          height: 15px;
        }
      }

      &__search {
        #nav__search__input,
        #nav__search__submit {
          width: 0;
          height: 31px;
          border: 0;
          transition: all .3s;
          position: absolute;
          bottom: -40px;
          right: 0;
          z-index: 16;
          padding: 0;
        }
        button {
          background: inherit;
          border: 0;
          outline: none;
        }
        button:focus {
          border: 0;
        }
        svg {
          height: 18px;
        }
        &.active {
          #nav__search__input {
            width: 200px;
            padding: 5px;
            right: 70px;
          }
          #nav__search__submit {
            width: 70px;
            padding: 5px;
          }
        }
      }
    }
  }

  .slider {
    text-transform: uppercase;
    text-align: center;

    .carousel-indicators {
      z-index: 3;
      li {
        width: 200px;
        text-indent: 0;
        margin: 30px 10px;
        z-index: 3;
      }

      li.active {
        background-color: #f38181;
      }
    }

    &__header {
      font-family: 'Kaushan Script';
      font-size: 72px;
      font-weight: 400;
      color: #fff;
      text-transform: capitalize;
      display: block;
      margin: auto;
      margin-top: 150px;
    }

    &__text {
      font-family: 'Montserrat';
      font-size: 150px;
      font-weight: 700;
      line-height: 140px;
      color: #fff;
      display: block;
      margin: 60px auto 0;
      max-width: 800px;
    }

    &__text:after {
      content: "";
      display: block;
      margin: 50px auto;
      background-color: #fff;
      width: 65px;
      height: 5px;
    }

    &__learn-more {
      padding: 15px 30px;
      border: 2px solid #fff;
      font-family: 'Montserrat';
      font-size: 14px;
      font-weight: 700;
      color: #fff;
      margin-bottom: 220px;
      transition: all .3s;
    }

    &__learn-more:hover, &__learn-more:active {
      text-decoration: none;
      color: inherit;
      padding:15px 45px;
    }
  }
}
.close--nav {
  display: none;
  span,span:after {
    display: block;
    width: 3px;
    height: 30px;
    background-color: #fff;
    margin: auto;
    transform: rotate(45deg);
    position: relative;
  }
  span:after{
    content: "";
    transform: rotate(90deg);
  }
}
.close--nav:hover {
  span,span:after {
    background-color: #fce38a;
  }
}