@media screen and (max-width: 1200px){
  .team-item__img {
    width: 300px;
    height: 400px;
  }
}
@media screen and (max-width: 992px) {
  .team-item__img {
    width: 200px;
    height: 280px;
  }
  .accordion__img {
    min-width: 300px;
  }
  .slider__header {
    font-size: 50px;
  }
  .slider__text {
    font-size: 100px;
  }
}
@media screen and (max-width: 768px) {
  .team-item__img {
    width: 170px;
    height: 200px;
  }
}
@media screen and (max-width: 576px) {
  .slider__header {
    font-size: 20px;
  }
  .slider__text {
    font-size: 40px;
  }
  .banner .header .nav {
    display: none;
    position: absolute;
    top: 95px;
    right: 34px;
    text-align: right;
    background-color: #000;
    z-index: 10;
    opacity: 0.7;
    ul{
      display: flex;
      flex-direction: column;
      li {
        margin: 5px;
        font-size: 10px;
      }
    }

  }
  .nav-min {
    display: block;
    position: absolute;
    right: 20px;
    background-color: #000;
    z-index: 10;
    opacity: 0.3;
  }
  .accordion {
    flex-direction: column;
    height: 100%;
    &__items {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .team__items {
    flex-direction: column;
  }
  .blog
    &__items {
    flex-direction: column;
  }
  &-item {
      width: 100%;
      &__about__summary {
        margin-bottom: 30px;
      }
    }
}
