@media screen and (max-width: 1200px) {
  .team-item__img {
    width: 300px;
    height: 400px;
  }
}

@media screen and (max-width: 992px) {
  .banner .header .nav ul li {
    margin-left: 20px;
  }
  .team-item__img {
    width: 250px;
    height: 280px;
  }
  .accordion__img {
    min-width: 300px;
  }
  .banner {
    .slider__header {
      font-size: 50px;
    }

    .slider__text {
      font-size: 100px;
      line-height: 100px;
    }
  }
  .service {
    .accordion {
      flex-direction: column;
      height: 100%;
      max-width: 600px;
      min-width: 250px;
      margin: auto;

      &__items {
        margin-left: 0;
        margin-top: 10px;
      }

      &__img {
        width: 100%;
        min-width: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .team__items {
    flex-direction: column;
  }
  .team-item__img {
    width: 100%;
    height: 250px;
  }
  .banner .header .nav ul li {
    margin-left: 15px;
  }
  .blog {
    &__items {
      flex-direction: column;
      width: 100%
    }

    &-item {
      width: 100%;

      &__about__summary {
        margin-bottom: 30px;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .banner {
    .slider__header {
      font-size: 30px;
    }

    .slider__text {
      font-size: 40px;
      line-height: 40px;
    }
  }
  .banner .header .nav {
    display: none;
    position: absolute;
    top: 95px;
    right: 34px;
    text-align: right;
    background-color: #000;
    z-index: 10;
    opacity: 0.7;

    ul {
      display: flex;
      flex-direction: column;

      li {
        margin: 5px;
        font-size: 10px;
      }
    }
  }
  .nav-min {
    display: block;
    position: absolute;
    right: 20px;
    background-color: #000;
    z-index: 10;
    opacity: 0.3;
  }

}
