// Font Variables
@mixin font($family, $size, $weight, $line-height, $color){
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  color: $color;
};
//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "../fonts/kaushanscript.scss";
//scss
@import "reset.scss";
@import "main.scss";
@import "service.scss";
@import "team.scss";
@import "blog.scss";
@import "media.scss";
