//fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import "../fonts/kaushanscript.scss";
//scss
@import "reset.scss";
@import "main.scss";
@import "service.scss";
@import "team.scss";
@import "blog.scss";
@import "media.scss";
