.team {
  &__items {
    height: 100%;
    &__item {
      height: 100%;
      width: 100%;
      &__name, &__assignment {
        text-transform: uppercase;
        text-align: center;
      }
      &__name {
        @include font('Montserrat', 14px, 700, 1, #333333);
        margin-top: 30px;
      }
      &__assignment {
        @include font('Roboto', 15px, 300, 24px, #999999);
        font-style: italic;
        display: block;
      }
      &__img{
        background-color: #95e1d3;
        position: relative;
        width: 350px;
        height: 500px;
        margin: auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: center center;
        }
      }

    }
    &__item:hover {
      img{
      position: relative;
      top: -11px;
      left: -11px;
      }
    }
  }
}